<!-- Main -->
		<div class="main" role="main">

			<!-- Page Heading -->
			<section class="page-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h1>¿Cómo Funciona?</h1>
						</div>
						<div class="col-md-6">
							<ul class="breadcrumb">
								<li><a href="/">Home</a></li>
								<li><a href="about">Sobre Nosotros</a></li>
								<li class="active">¿Cómo funciona?</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- Page Heading / End -->

			<!-- Page Content -->
			<section class="page-content">
				<div class="container">
					
					<div class="row">
						<div class="col-md-6">
							<figure class="alignnone">
								<%= image_tag("logo-adoptameV2_558px.png")%>
							</figure>
						</div>
						<div class="col-md-6">
							<h2>¿Cómo funciona Adopta-Me?</h2>
							<p> Adopta-Me es una base de datos de mascotas a nivel nacional en la República de Colombia. </p>

							<div class="list">
								<ul>
									<li> Busca las mascota que desees según las caracteristicas que mas se adecuen a tu hogar </li>
									<li> Revisa las diferentes posibilidades de mascotas acordes a tus preferencias </li>
									<li> Consulta los perfiles especificos de las mascotas que te interesen </li>
									<li> Escoge la(s) mascota(s) que más te gusten, guarda los perfiles para no tener que buscar de nuevo. </li>
									<li> Elige la nueva mascota para tu hogar. </li>
									<li> Comienza el proceso de adopción </li>
								</ul>
							</div>
						</div>
					</div>

					<div class="spacer-xl"></div>

					<div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
						<h2>¿Por qué escogernos?<small>Para Fundaciones</small></h2>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="icon-box centered lg circled icon-box-animated">
								<div class="icon">
									<i class="entypo pencil"></i>
								</div>
								<div class="icon-box-body">
									<h3> Registrate </h3>
									<p> Completa el formulario de inscripción con los requerimientos especiales para ser una Fundación Adopta-Me</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="icon-box centered lg circled icon-box-animated">
								<div class="icon">
									<i class="entypo air"></i>
								</div>
								<div class="icon-box-body">
									<h3> Ingresa </h3>
									<p> Ingresa a la plataforma de Fundaciones para subir tu base de datos de manera fácil, rápida y segura.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="icon-box centered lg circled icon-box-animated">
								<div class="icon">
									<i class="entypo suitcase"></i>
								</div>
								<div class="icon-box-body">
									<h3> Agrega tus mascotas </h3>
									<p> Por medio de un formulario estándar y de fácil acceso, agrega las mascotas a la base de datos Adopta-Me</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="icon-box centered lg circled icon-box-animated">
								<div class="icon">
									<i class="entypo text-doc"></i>
								</div>
								<div class="icon-box-body">
									<h3> Actualiza tu información </h3>
									<p>Mantén al día tu información, tanto de la fundación como de las mascotas (agregar o eliminar mascotas).</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="icon-box centered lg circled icon-box-animated">
								<div class="icon">
									<i class="entypo chat"></i>
								</div>
								<div class="icon-box-body">
									<h3>Servicio 24 / 7</h3>
									<p> Cómo Fundación tienes acceso a un servicio técnico y acompañamiento en caso de dudas o inconvenientes de la plataforma o el sistema.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="icon-box centered lg circled icon-box-animated">
								<div class="icon">
									<i class="entypo heart"></i>
								</div>
								<div class="icon-box-body">
									<h3>Protección de la informacion</h3>
									<p> Toda la información de registro será confidencial y no será vendida ni propagada sin el consentimiento de la Fundación.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="icon-box centered lg circled icon-box-animated">
								<div class="icon">
									<i class="entypo light-bulb"></i>
								</div>
								<div class="icon-box-body">
									<h3>Seguimiento de adopción</h3>
									<p>Tiene la posibilidad de seguir en contacto con el usuario para hacer el seguimiento de las mascotas en su nuevo hogar.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="icon-box centered lg circled icon-box-animated">
								<div class="icon">
									<i class="entypo thumbs-up"></i>
								</div>
								<div class="icon-box-body">
									<h3>Incrementar tazas de adopción</h3>
									<p>Dado el fácil acceso de la plataforma, podrá aumentar la cantidad de adopciones responsables de mascotas a nivel nacional.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="section-light">
						<div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
							<h2>Fundaciones Asociadas<small>Zonas del país</small></h2>
						</div>
						<div class="row">
							<div class="pricing-table pricing-table__style4">
								<div class="col-md-3">
									<div class="plan">
										<header class="pricing-head">
											<h3>Norte</h3>
											<!-- <div class="pricing-head-inner">
												<span class="price"><sup>$</sup> 00</span>
												<small>per month</small>
											</div> -->
										</header>
										<div class="pricing-body">
											<ul>
												<li>Proin gravida nibhconseq</li>
												<li>Enean sollicitud</li>
												<li>Lorem quis bibendum</li>
												<li>Aliquam laoreet sodales</li>
												<li>Enean sollicitud</li>
												<li>Lorem quis bibendum</li>
												<li>Aliquam laoreet sodales</li>
											</ul>
										</div>
										<footer class="pricing-footer">
											<a href="#" class="btn btn-default">Más</a>
										</footer>
									</div>
								</div>
								<div class="col-md-3">
									<div class="plan popular">
										<header class="pricing-head">
											<h3>Sur</h3>
											<!-- <div class="pricing-head-inner">
												<span class="price"><sup>$</sup> 19</span>
												<small>per month</small>
											</div> -->
										</header>
										<div class="pricing-body">
											<ul>
												<li>Proin gravida nibhconseq</li>
												<li>Enean sollicitud</li>
												<li>Lorem quis bibendum</li>
												<li>Aliquam laoreet sodales</li>
												<li>Enean sollicitud</li>
												<li>Lorem quis bibendum</li>
												<li>Aliquam laoreet sodales</li>
											</ul>
										</div>
										<footer class="pricing-footer">
											<a href="#" class="btn btn-default">Más</a>
										</footer>
									</div>
								</div>
								<div class="col-md-3">
									<div class="plan">
										<header class="pricing-head">
											<h3>Oriente</h3>
											<!-- <div class="pricing-head-inner">
												<span class="price"><sup>$</sup> 29</span>
												<small>per month</small>
											</div> -->
										</header>
										<div class="pricing-body">
											<ul>
												<li>Proin gravida nibhconseq</li>
												<li>Enean sollicitud</li>
												<li>Lorem quis bibendum</li>
												<li>Aliquam laoreet sodales</li>
												<li>Enean sollicitud</li>
												<li>Lorem quis bibendum</li>
												<li>Aliquam laoreet sodales</li>
											</ul>
										</div>
										<footer class="pricing-footer">
											<a href="#" class="btn btn-default">Más</a>
										</footer>
									</div>
								</div>
								<div class="col-md-3">
									<div class="plan">
										<header class="pricing-head">
											<h3>Occidente</h3>
											<!-- <div class="pricing-head-inner">
												<span class="price"><sup>$</sup> 39</span>
												<small>per month</small>
											</div> -->
										</header>
										<div class="pricing-body">
											<ul>
												<li>Proin gravida nibhconseq</li>
												<li>Enean sollicitud</li>
												<li>Lorem quis bibendum</li>
												<li>Aliquam laoreet sodales</li>
												<li>Enean sollicitud</li>
												<li>Lorem quis bibendum</li>
												<li>Aliquam laoreet sodales</li>
											</ul>
										</div>
										<footer class="pricing-footer">
											<a href="#" class="btn btn-default">Más</a>
										</footer>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<h2>What Clients Say</h2>
							<div class="testimonial">
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut laoreet mi. Integer vitae elit quis leo tincidunt euismod. Nullam blandit vestibulum lectus sed sollicitudin. </p>
								</blockquote>
								<div class="bq-author">
									<figure class="author-img">
										<img src="http://placehold.it/60x60" alt="">

									</figure>
									<h6>Dan Fisher</h6>
									<span class="bq-author-info">CEO, Compay Name</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<hr class="visible-sm visible-xs lg">
							<h2>Our Clients</h2>
							<div class="row">
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo2.png")%> alt=""></a>
									</div>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo3.png")%> alt=""></a>
									</div>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo4.png")%> alt=""></a>
									</div>
								</div>
							</div>
							<div class="spacer"></div>
							<div class="row">
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo4.png")%> alt=""></a>
									</div>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo1.png")%> alt=""></a>
									</div>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo3.png")%> alt=""></a>
									</div>
								</div>
							</div>
							<div class="spacer"></div>
							<div class="row">
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo2.png")%> alt=""></a>
									</div>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo3.png")%> alt=""></a>
									</div>
								</div>
								<div class="col-sm-4 col-md-4">
									<div class="hovered-img text-center">
										<a href="#"><%=image_tag("client-logo4.png")%> alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- Page Content / End -->
