<!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
             <h2>Regístrate</h2>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pet Sitters</a></li>
                <li class="active">Post a Job</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->

      <section class="page-content">
        <div class="container">
          
          <div class="row">
            <div class="col-md-8 col-md-offset-2">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
              
              <fieldset>
                  <label>Have an account?</label>
                  <div class="field account-sign-in">
                    <p>
                      <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-key"></i> Sign in</a>
                    </p>

                    <div class="alert alert-info alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
                      If you don‘t have an account you can create one below by entering your email address. A password will be  automatically emailed to you.
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <label>Nombre <span class="required">*</span></label>
                  <div class="field">
                   <%= f.text_field :name, autofocus: true %>
                  </div>
                </fieldset>

                <fieldset>
                  <label>Your Email <span class="required">*</span></label>
                  <div class="field">
                    <input type="email" class="form-control" name="create_account_email" id="account_email" placeholder="you@yourdomain.com" value="" />
                  </div>
                </fieldset>

            </div>
          </div>

        </div>
      </section>
      <!-- Page Content / End -->




  <div>
    <%= f.label :country_id %><br />
    <%= select_tag("user[country_id]", options_for_select(['Colombia', 'Colombia'])) %>
  </div>




  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up", class: 'button' %></div>
<% end %>

<%= render "devise/shared/links" %>
