<h1>Listing pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Age</th>
      <th>Breed</th>
      <th>Type</th>
      <th>Gender</th>
      <th>Size</th>
      <th>Special reeds</th>
      <th>Instituion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.description %></td>
        <td><%= pet.age %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.type %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.size %></td>
        <td><%= pet.special_reeds %></td>
        <td><%= pet.instituion %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ingresa nueva Mascota', new_pet_path %>
