<h1>Usuarios</h1>
<%= link_to 'Nuevo Usuario', new_user_path, class: 'button' %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Ubicación</th>
     
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.country_id %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Esta seguro que desea eliminar su cuenta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




