<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet_true.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet_true.age %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @pet_true.kind %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet_true.gender %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet_true.size %>
</p>

<p>
  <strong>Story:</strong>
  <%= @pet_true.story %>
</p>

<p>
  <strong>City:</strong>
  <%= @pet_true.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @pet_true.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @pet_true.region %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet_true.user %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @pet_true.institution %>
</p>

<%= link_to 'Edit', edit_pet_true_path(@pet_true) %> |
<%= link_to 'Back', pet_trues_path %>
