<!DOCTYPE html>
<html class="not-ie no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <title><%= content_for?(:title) ? yield(:title) : "Adoptame" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "modernizr" %>
    <%= csrf_meta_tags %>

     <!-- Base + Vendors CSS -->
      <!--  <link rel="stylesheet" href="assets/bootstrap.min.css">
      <link rel="stylesheet" href="assets/font-awesome.css">
      <link rel="stylesheet" href="assets/entypo.css">
       <link rel="stylesheet" href="assets/owl.carousel.css" media="screen">
      <link rel="stylesheet" href="assets/owl.theme.css" media="screen">
      <link rel="stylesheet" href="assets/magnific-popup.css" media="screen"> 
      <link rel="stylesheet" href="assets/flexslider.css" media="screen"> -->

      <!-- Theme CSS-->
      <!-- <link rel="stylesheet" href="css/theme.css">
      <link rel="stylesheet" href="css/theme-elements.css">
      <link rel="stylesheet" href="css/animate.min.css"> -->


      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">


  </head>

  <body>
    

      <div class="site-wrapper">

    <!-- Header -->
    <header class="header header-menu-fullw">

      <div class="header-top-right">

        <div class="container">
         
          <ul id="menu-main" class="nav navbar-nav">


            <li class= "divider"></li>
            <% if user_signed_in? %>
            <li class="dropdown">

              <%= link_to current_user.name , edit_user_registration_path, html: {class: "dropdown-toggle"} %>
         
              
                
            </li>
            <li>
              <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
              <li class="active">
              <%= link_to 'Regístrate', new_user_registration_path, html: {class: "btn btn-sm btn-warning"}%>
            </li>
            <li>
              <%= link_to 'Iniciar Sesión', new_user_session_path , html: {class: "btn btn-sm btn-warning" }%>
            </li>
            <% end %>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class= "divider"></li>
            <!-- 
            <li>
              <%#= link_to 'Users', users_path %>
            </li> -->
            
          <!--   <li class="dropdown"><a class="dropdown-toggle" data-target="#" href="contact.html">Contact</a>
              <ul class="dropdown-menu">
                <li><a href="contact.html">Contact</a></li>
                <li><a href="full.html">Full Width Page</a></li>
                <li><a href="components.html">B3 Components</a></li>
                <li><a href="columns.html">Columns</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="videos.html">Responsive Videos</a></li>
              </ul>
            </li> -->
          </ul>    
        </div>
      </div>

<!-- fin de header top -->

      <div class="header-main">
        <div class="container">
          <!-- Logo -->
          <div class="logo">
            <a href="/"><%= image_tag "logo.png" %></a>
            <!-- <h1><a href="index.html"><span>Pet</span>Sitter</a></h1>
            <p class="tagline">Find an Awesome PetSitter</p> -->
          </div>
          <!-- Logo / End -->

          <button type="button" class="navbar-toggle">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Banner -->
            <div class="head-info">
              <ul class="head-info-list">
                <!-- <li><span>Call us on:</span> +1 (234) 567890</li> -->
                <li><span>Email:</span> <a href="info@adoptame.co">info@adoptame.co</a></li>
              </ul>
              <ul class="social-links">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
<!--               <li><a href="#"><i class="fa fa-rss"></i></a></li>
 -->            </ul>
            </div>
            <!-- Banner / End -->
        </div>
      </div>
      
      <!-- Navigation -->
      <nav class="nav-main">
        <div class="container">
          <ul data-breakpoint="992" class="flexnav">
            <li class="active"><a href="/">Inicio</a></li>
            <li>
              <%= link_to 'Mascotas' %>
            </li>
            <li>
              <%= link_to '¿Quienes Somos?', static_pages_about_path%>

              
              
            </li>

            <li>

              <%= link_to '¿Cómo Funciona?', static_pages_services_path%>

            
              
            </li>
            
            
            <li>
              <%= link_to 'Contáctenos', static_pages_contact_path%>

             </li>
          </ul>
        </div>
      </nav>
      <!-- Navigation / End -->
      
    </header>
    <!-- Header / End -->




    <div class="row">
      <div class="columns large-12"></div>
        <% flash.each do |type, message| %>
        <div data-alert class="alert-box radius <%= flass_class(type) %>">
          <%= message %>
          <a href="#" class="close">&times;</a>
        </div>
        <% end %>
        <%= yield %>
      </div>

      <!-- Footer -->
      <footer class="footer" id="footer">
        <div class="footer-widgets">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-2">
                <!-- Widget :: Custom Menu -->
                <div class="widget_nav_menu widget widget__footer">
                  <h3 class="widget-title">Información</h3>
                  <div class="widget-content">
                    <ul>

                      <li>
                        <%= link_to 'Preguntas Frecuentes', static_pages_faq_path%>


                       </li>
                      <li><%= link_to '¿Cómo funciona?', static_pages_services_path%></li>
                      <li><%= link_to '¿Quienes Somos?', static_pages_about_path%></li>
                      <li><%= link_to 'Contáctenos', static_pages_contact_path%></li>
                      
                    </ul>
                  </div>
                </div>
                <!-- /Widget :: Custom Menu -->
              </div>
              <div class="col-sm-6 col-md-2">
                <!-- Widget :: Categories -->
                <div class="widget_categories widget widget__footer">
                  <h3 class="widget-title">Categorias</h3>
                  <div class="widget-content">
                    <ul>
                      <li><a href="#">Perros</a></li>
                      <li><a href="#">Gatos</a></li>
                      <li><a href="#">Otros</a></li>
                      
                    </ul>
                  </div>
                </div>
                <!-- /Widget :: Categories -->
              </div>

              <div class="clearfix visible-sm"></div>

              <div class="col-sm-6 col-md-4">
                <!-- Widget :: Latest Posts -->
                <div class="latest-posts-widget widget widget__footer">
                  <h3 class="widget-title">Recent Posts</h3>
                  <div class="widget-content">
                    <ul class="latest-posts-list">
                      <li>
                        <figure class="thumbnail"><a href="#"><img src="http://placehold.it/144x84" alt=""></a></figure>
                        <span class="date">February, 18 2014</span>
                        <h5 class="title"><a href="#">Morbi urna mi, sollicitudin eget nibh fringilla, dignissim mattis</a></h5>
                      </li>
                      <li>
                        <figure class="thumbnail"><a href="#"><img src="http://placehold.it/144x84" alt=""></a></figure>
                        <span class="date">January, 21 2014</span>
                        <h5 class="title"><a href="#">Ut mauris arcu, fringilla at ipsum in, porta molestie nisi.</a></h5>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Widget :: Latest Posts -->
              </div>
              <div class="col-sm-6 col-md-4">
                <!-- Widget :: Newsletter -->
                <div class="widget_newsletter widget widget__footer">
                  <h3 class="widget-title">Get Our Newsletter</h3>
                  <div class="widget-content">
                    <p>Nulla tincidunt sollicitudin tristique. Sed sed metus malesuada, semper dolor sit amet, eleifend libero. </p>

                    <form action="#" method="POST" role="form">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter your email here...">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <button type="submit" class="btn btn-success btn-block">Suscríbete</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- /Widget :: Newsletter -->
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                Copyright &copy; 2014  <a href="index.html">Adoptame</a> &nbsp;| &nbsp;All Rights Reserved
              </div>
              <div class="col-sm-6 col-md-8">
                <div class="social-links-wrapper">
                  <span class="social-links-txt">Síguenos</span>
                  <ul class="social-links social-links__light">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer / End -->
      
    </div>
    <!-- Main / End -->
  </div>
  
  
  
  
  
  <!-- Javascript Files
  ================================================== -->
  <!--<script src="vendor/jquery-1.11.0.min.js"></script>
  <script src="vendor/jquery-migrate-1.2.1.min.js"></script>
  <script src="vendor/bootstrap.js"></script>
  <script src="vendor/jquery.flexnav.min.js"></script>
  <script src="vendor/jquery.hoverIntent.minified.js"></script>
  <script src="vendor/jquery.flickrfeed.js"></script>
  <script src="vendor/isotope/jquery.isotope.min.js"></script>
  <script src="vendor/isotope/jquery.isotope.sloppy-masonry.min.js"></script>
  <script src="vendor/isotope/jquery.imagesloaded.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
  <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendor/jquery.fitvids.js"></script>
  <script src="vendor/jquery.appear.js"></script>
  <script src="vendor/jquery.stellar.min.js"></script>
  <script src="vendor/flexslider/jquery.flexslider-min.js"></script>

  <script src="js/custom.js"></script>-->

    </div>
    <%= javascript_include_tag "application" %>
    <script>
      jQuery(function($){
        $('body').addClass('loading');
      });
      
      $(window).load(function(){
        $('.flexslider').flexslider({
          animation: "fade",
          controlNav: true,
          directionNav: false,
          prevText: "",
          nextText: "",
          start: function(slider){
            $('body').removeClass('loading');
          }
        });
      });
    </script>
  </body>
</html>